body {
	font-family: 'Benton Sans', Open Sans;
}

h1 {
	font-size: 1.7em;
	font-weight: normal;
}

#filters {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	text-align: center;
	font-size: 0.8em;
}

.char {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
	background-color: #f6f6f6;
	padding: 2em;
	border-right: 3px #CCB74D;
	border-bottom: 3px #CCB74D;
}

.char .charname {
	font-size: 1.7em;
}

.char .charcopy {
	font-sze: 1em;
	color: #3b3b3b;
	line-height: 1.3em;
}

.char .leftcol {
	float:left;
	width: 30%;
}

.char .rightcol {
}

.char .charMeta {
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
}

.char .charMeta li {
	display: inline-block;
	background-color: #9c0d63;
	color: #fff;
	padding: 5px;
	margin: 5px;
	font-size: 0.5em;
	border-radius: 3.14em;
}

.char:after {
	content: "";
	display: table;
	clear: both;
}